.App {
    --header_height: 60px;
}

body {
    background-image: url('D:/it-incubator/hws2/src/s2-homeworks/hw01/cloud.png');
    margin-bottom: 50px;
}

.hw {
    position: absolute;
    width: 1280px;
    height: 373px;
    left: 0;
    top: 150px;
}

.hwTitle {
    margin-bottom: 40px;
    padding: 40px;
    width: auto;
    height: 30px;
    left: 50px;
    top: 130px;
    font-family: 'Constantia';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: black;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}